[mysqldump]
# 这个很重要，不然dump的时候会生成带有 GTID_PURGED Master 标志，导致无法在其他数据库import
# set-gtid-purged=OFF

[mysqld]
basedir=/usr/local/mysql
skip-host-cache
skip-name-resolve
bind-address=0.0.0.0
port=3306
user=iwi
server-id=0

log-bin=/var/lib/dockervol/mysql-logbin
datadir=/var/lib/dockervol/mysql-data
log-error=/var/log/dockervol/mysql.log

# general log 记录太频繁、数据太大了，只能临时使用
general_log=0
general_log_file=/var/log/dockervol/mysql-general.log

slow_query_log=1
slow_query_log_file=/var/log/dockervol/mysql-slow.log
long_query_time=1

expire_logs_days=14
max_binlog_size=2G

pid-file=/etc/aa/lock/mysqld.pid
socket=/etc/aa/lock/mysqld.sock


# NO_AUTO_CREATE_USER ERROR_FOR_DIVISION_BY_ZERO 已经从8.0移除了
# NO_ZERO_DATE  禁止  0000-00-00 00:00:00

sql-mode="STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_IN_DATE"
lower_case_table_names=2

# 主服务器设置，防止从服务器复制的表，多个重复设置该选型即可
#binlog-ignore-db is a master-side setting, it tells the Master not to log changes taking place on the listed DB.
#replicate-ignore-db is a slave-side setting, it tells the Slave to ignore incoming log information related to the listed DB
binlog-ignore-db=mysql,sys,information_schema,performance_schema
replicate-ignore-db=mysql,sys,information_schema,performance_schema


