[mysqld]
skip-host-cache
skip-name-resolve
bind-address=0.0.0.0
port=3306
user=docker
server-id=0
log-bin=/var/lib/dockervol/mysql_logbin
datadir=/var/lib/dockervol/mysql_data
log-error=/var/log/dockervol/mysql.log

pid-file=/etc/aa/lock/mysqld.pid
socket=/etc/aa/lock/mysqld.sock


# NO_AUTO_CREATE_USER ERROR_FOR_DIVISION_BY_ZERO 已经从8.0移除了
# NO_ZERO_DATE  禁止  0000-00-00 00:00:00

sql-mode="STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_IN_DATE"
lower_case_table_names=2

# 主服务器设置，防止从服务器复制的表，多个重复设置该选型即可
#binlog-ignore-db is a master-side setting, it tells the Master not to log changes taking place on the listed DB.
#replicate-ignore-db is a slave-side setting, it tells the Slave to ignore incoming log information related to the listed DB
binlog-ignore-db=mysql,sys,information_schema,performance_schema
replicate-ignore-db=mysql,sys,information_schema,performance_schema


